body {
  font-family: Helvetica;
}
button:active,
button:hover,
button:focus {
  outline: 0;
  outline-offset: 0;
}
b {
  font-weight: 600;
}
.scale {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.scale:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.gold {
  color: #F1C76F !important;
}
header {
  background: url(../img/photo\ BG.jpg) center no-repeat;
  background-size: cover;
  padding: 2rem 0;
}
.logo {
  border-bottom: 0.7px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1rem;
}
.logo a {
  color: white;
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 16px;
}
.logo img {
  margin-bottom: 0.4rem;
}
.video-sound {
  margin: 4rem 0;
}
.video-sound button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.video h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 4rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  padding-bottom: 1.5rem;
}
.video-text {
  position: relative;
  display: inline-block;
}
.video-text:after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 12%;
  height: 3px;
  margin-left: -5%;
  background: #F1C76F;
}
.video p {
  color: #FFFFFF;
  text-align: center;
  margin: 1rem 0;
}
.video-video {
  padding: 4rem 0;
}
.video-video button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.video-video button img {
  height: 3rem;
}
.slider {
  background: #ffffff url(../img/slider/slider-bg.png) 0 65% no-repeat;
  background-size: 100%;
  text-align: center;
  margin-bottom: 4rem;
}
.slider p {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
}
.slider img {
  width: 50%;
  margin-bottom: 0.5rem;
}
.slider-body {
  margin-bottom: 2rem;
}
.slider-body-name {
  margin-top: 3rem;
  text-align: center;
}
.slider-body-name h2 {
  display: inline-block;
  margin: 2rem 0;
}
.np {
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
}
li {
  width: 10rem !important;
  height: 2px !important;
  margin-left: -0.2rem !important;
  margin-top: 2rem;
  background-color: #F1C76F !important;
}
.detail-min {
  border-left: 2px solid #F1C76F;
  border-right: 2px solid #F1C76F;
  width: 10rem;
}
.detail-min button {
  border: 2px solid #F1C76F;
  background-color: rgba(0, 0, 0, 0);
  padding: 0.5rem 2rem;
  width: 9rem;
  height: 3rem;
}
.SlideNumber {
  color: lightgray;
  -webkit-transform: translate3d(16rem, 0.8rem, 0rem);
          transform: translate3d(16rem, 0.8rem, 0rem);
}
.wish {
  background: url(../img/wish/photo\ BG.jpg) center no-repeat;
  background-size: cover;
  color: white;
}
.wish .name {
  text-align: center;
  padding: 12rem 0;
}
.wish .name h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  color: #FFFFFF;
  text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
  padding-bottom: 1.5rem;
}
.wish .name p {
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.question {
  background: #000000 url(../img/question/BG1.png) 0 0 no-repeat;
  padding: 12rem 0;
}
.question .photos img {
  width: 100%;
}
